@font-face {
    font-family: 'main';
    src: url('../fonts/ProtestRiot-Regular.ttf');
}

*{
    font-family: 'main';
    color: rgb(255, 253, 208)
}

header {
    display: grid;
    justify-content: center;
    text-align: center;
    padding-top: 2em;
}

header > h1 {
    font-size: 70px;
    margin: 0.25em 0 0 0 ;
    
}

nav > button {
    color: red;
    
}


.Container {
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 3em;
}

.contactContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1f 1f;
    justify-content: center;
    text-align: center;
    margin: 3em;
}

#contactGet {
    grid-column: 1 / 4;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.pointDiv {
    font-size: 24px;
}

